<h3>
    Formulario para Libros
</h3>

<form>
    <section>
      <label for="name">Nombre</label>
      <input name="name"
             type="text"
             [(ngModel)]="form.name"
             placeholder="Nombre libro" />
    </section>
    <section>
      <label for="description">Descripción</label>
      <textarea 
             name="description"             
             [(ngModel)]="form.description"
             placeholder="Descripción libro" >
      </textarea>
    </section>    
    <section>
      <label for="autor_id">Autor</label>
      <select name="autor_id"
              [(ngModel)]="form.autor_id">
        <option *ngFor="let status of autor_list"
                [value]="status.id">
          <span>{{ status.description }}</span>
        </option>
      </select>
    </section>
    <section>
        <label for="category_id">Categoria</label>
        <select name="category_id"
                [(ngModel)]="form.category_id">
          <option *ngFor="let status of category_list"
                  [value]="status.id">
            <span>{{ status.description }}</span>
          </option>
        </select>
    </section>    
    <section>
        <label for="ISBN">ISBN</label>
        <input 
               name="ISBN"
               type="text"
               [(ngModel)]="form.ISBN"
               placeholder="ISBN libro" />    
      </section>   
    <input value="Save"
           type="submit"
           (click)="saveBook()" />
  </form>